<div class="pull-right">
  <%= link_to 'New Book', new_book_path, class: 'btn btn-default' %>
</div>

<h1>Listing books</h1>

<% @books.each do |book| %>
  <h3><%= link_to book.name, book %></h3>
  <p>
    <%= book.description %>
  </p>
<% end %>

<%= will_paginate @books,  renderer: BootstrapPagination::Rails  %>
