<h1 class="page-header"><%= @book.name %></h1>
<p><%= @book.description %></p>

<%= image_tag @book.cover.url, size: '350x250' if @book.cover %>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default' %>
<%= link_to 'Destroy', @book, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' %>
<%= link_to 'Back', books_path, class: 'btn btn-default' %>
